*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --white: aliceblue;
}
.cursor{
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    pointer-events: none;
    border: 3px solid var(--white);
    border-radius: 50%;
    z-index: 9999;
    background-color: #5C8374;
    mix-blend-mode: difference;
    transition-duration: 150ms;
    transition-timing-function:ease-out;
}
#main-container{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to top left,rgb(134, 0, 139), rgb(13, 0, 157)); */
    /* background-color: #0F0F0F; */
    background-color: #040D12;
    position: relative;
}
#main-container::before{
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    background-color:#183d3de2;
    top: 25%;
    left: 15%;
    filter: blur(100px);
    z-index: 1;
}
#main-container::after{
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    background-color:#183d3dd2;
    top: 35%;
    right: 15%;
    filter: blur(100px);
    z-index: 1;
}
nav{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.Logo-title{
    color:#79a092;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-shadow: 4px 4px 7px black;
}
nav .showMenu-container li{
    display: inline;
    justify-content: space-between;
    list-style-type: none;
}
nav .showMenu-container li svg{
    fill : white;
    stroke: white;
    display: none;
    z-index: 5;
    cursor: pointer;
}
nav .showMenu-container li a{
    text-decoration: none;
    color:#79a092;
    text-transform: capitalize;
    padding: 20px 20px;
    font-size: 1.2rem;
}
nav .showMenu-container li a:hover{
    color: aliceblue;
}
.hideMenu-container{
    display: none;
    flex-direction: column;
    background-color: #183D3D;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 100;
}
nav .hideMenu-container li{
    list-style: none;
    margin: 10px;
}
nav .hideMenu-container li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(#5C8374,#5C8374);
    background-position: bottom left;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition: 400ms ease;
    padding: 5px;
    text-transform: capitalize;
}
nav .hideMenu-container li a:hover{
    background-size: 100% 3px;
}
nav .hideMenu-container li svg{
    fill : white;
    stroke: white;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1.2rem;
}
.cv{
    position: fixed;
    transform: rotate(-90deg);
    top: 50%;
    left: -1%;
    z-index: 3;
}
.cv a{
    font-family: 'Playpen Sans', cursive;
    text-transform: uppercase;
    font-size: 1rem;
    color: #183D3D;
    text-decoration: none;
}
.main-title{
    position: relative;
    top: 10rem;
    width: 1050px;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
}
.content-container{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.title{
    font-size: 4.8rem;
    /* color: var(--white); */
    color: #93B1A6;
    text-transform: uppercase;
    font-family: 'Playpen Sans', cursive;
    text-shadow: 4px 4px 7px black;
    z-index: 2;
}
.paragraph{
    /* color: var(--white); */
    color: #5C8374;
    font-size: 1rem;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    /* font-family: 'Playpen Sans', cursive; */
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 3px 3px 5px black;
    z-index: 2;
    margin-left: 6px;
}
.social-media-1{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 6px;
    z-index: 1;
}
.social-media-1 li{
    list-style: none;
}
.social-media-1 li a i{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--white);
    text-shadow: 4px 4px 5px black;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}
.social-media-1 li a i:hover{
    color:#79a092;
    transform: translate(0, -4px);
}
.man{
    height: 19rem;
    transition: transform .3s;
    z-index: 2;
}
.man:hover{
    transform: rotate(10deg);
}
#second-container{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to bottom left,rgb(134, 0, 139), rgb(13, 0, 157)); */
    /* background-color: #0F0F0F; */
    background-color: #040D12;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-container-1{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.second-container-title{
    /* color: aliceblue; */
    color: #93B1A6;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-family: 'Playpen Sans', cursive;
}
.skills-container{
    /* background-color: rgba(103, 122, 218, 0.805); */
    background-color: #183D3D;
    width: 85%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: .5rem solid var(--white);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.742);
    transform-style: preserve-3d;
    flex-wrap: wrap;
}
.progressbar-container{
    transform: translateZ(20px);
    margin: 1.1rem 0rem;
}
.skills-title{
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.956);
}
.progressbar{
    height: 1rem;
    width: 90%;
    background: var(--white);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px .3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.667);
}
.progress{
    height: 10px;
    width: 90%;
    position: absolute;
    border-radius: 1rem;
}
.num1{
    background: linear-gradient(to right, rgb(0, 0, 91),rgb(0, 143, 168));
    height: 10px;
    width: 80%;
    position: absolute;
}
.num2{
    background: linear-gradient(to right,rgb(84, 0, 0),rgb(193, 0, 0));
    height: 10px;
    width: 40%;
    position: absolute;
}
.num3{
    background: linear-gradient(to right,rgb(92, 0, 37),rgb(198, 0, 198));
    height: 10px;
    width: 60%;
    position: absolute;
}
.num4{
    background: linear-gradient(to right,rgb(104, 40, 0),rgba(198, 56, 0, 0.771));
    height: 10px;
    width: 50%;
    position: absolute;
}
.percentage{
    color: aliceblue;
    background: rgb(0, 0, 0);
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-radius: .2rem;
    position: absolute;
    right: -1rem;
    top: -2.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 26% 75%, 0% 75%);
}
.logo{
    height: 3.9rem;
    position: absolute;
    filter: drop-shadow(3px 3px 3px #000000);
    transition: transform .2s;
}
.logo:hover{
    transform: rotate(10deg);
}
.html-and-css{
    right: -2.8rem;
    top: -.7rem;
}
.javaScript{
    right: -.5rem;
    top: -.7rem;
}
.photoshop{
    right: -.5rem;
    top: -.7rem;
}
.canva{
    right: -.5rem;
    top: -.7rem;
}

#works-container{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to top left,rgb(134, 0, 139), rgb(13, 0, 157)); */
    /* background-color: #0F0F0F; */
    background-color: #040D12;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.5rem;
}

.works-title{
    /* color: aliceblue; */
    color: #5C8374;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-family: 'Playpen Sans', cursive;
}
.works{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 85%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.website{
    position: relative;
    border-radius: 1.1rem;
    transform-style: preserve-3d;
}
.website:hover{
    cursor: url('img/crosshair2.png'), auto;
    z-index: 5;
}
.projects{
    height: 350px;
    width: 430px;
    border: .5rem solid var(--white);
    border-radius: 1.1rem;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    z-index: -1;
}
.projects:hover{
    cursor: url('img/crosshair2.png'), auto;
}
.web-title{
    /* color: rgb(255, 255, 255); */
    color: #93B1A6;
    font-family: 'Rock Salt', cursive;
    position: absolute;
    bottom: 1.5rem;
    padding: 0%;
    left: -3rem;
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px black;
    z-index: 1;
    transform: translateZ(50px);
}
.web-title2{
    /* color: antiquewhite; */
    color: #93B1A6;
    font-family: 'Rock Salt', cursive;
    position: absolute;
    bottom: 1.5rem;
    padding: 0%;
    left: -3rem;
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px #000000;
    z-index: 1;
    transform: translateZ(50px);
}
#contact-container{
    height: 100vh;
    width: 100%;
    /* background-color: #0F0F0F; */
    background-color: #040D12;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
}
#contact-container::before{
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    background-color:#183d3dc9;
    top: 20%;
    left: 15%;
    filter: blur(100px);
}
#contact-container::after{
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: #79a0927a;
    top: 43%;
    right: 15%;
    filter: blur(100px);
    z-index: 1;
}
.second-container-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    max-width: 85%;
}
.my-info{
    z-index: 3;
}
.contact-title2{
    color:#79a092;
    font-size: 3rem;
    font-family: 'Rock Salt', cursive;
    text-transform: capitalize;
    text-shadow: 4px 4px 5px black;
    background-color: transparent;
}
.contact{
    margin-bottom: 2rem;
}
.contact li{
    text-decoration: none;
    list-style: none;
}
.contact li a{
    text-decoration: none;
    font-size: 1.2rem;
    color:#5C8374;
    font-family: 'Playpen Sans', cursive;
    text-shadow: 4px 4px 5px black;
}
.contact li a:hover{
    color:#81ab9b;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-left: 4px;
}
.social-media li{
    list-style: none;
}
.social-media li a i{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--white);
    text-shadow: 4px 4px 5px black;
    transition: transform .3s ease-in-out;
}
.social-media li a i:hover{
    color:#79a092;
    transform: translate(0, -4px);
}
.mypic3{
    width: 600px;
    border-radius: 1rem;
    border: .5rem solid var(--white);
    box-shadow: 4px 4px 8px black;
    z-index: 2;
}
#me-container{
    height: 100vh;
    width: 100%;
    background-color: #040D12;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5.5rem;
    position: relative;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1000px;
    max-width: 85%;
    height: auto;
    border-radius: 1rem;
}

#me-container h1{
    color: #5C8374;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-family: 'Playpen Sans', cursive;
}
.about-container p{
    text-indent: 3.5rem; 
    width: 40%;
    font-size: 1rem;
    color: #93B1A6;
    font-family: 'Playpen Sans', cursive;
    text-align: justify;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
    width: 100%;
    padding: 2.5rem 2rem;
    line-height: 30px;
    background-color: #15373790;
    border-radius: 0 1rem 1rem 0;
}
.about-container .my-pic{
    width: 330px;
    border: .5rem white solid;
    border-radius: 1rem;
    box-shadow: #000000 4px 4px 5px;
}
footer{
    text-align: center;
    height: 5vh;
    width: 100%;
    background-color: #040D12;
}
footer p{
    color:#93B1A6;
    font-family: 'Playpen Sans', cursive;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    nav .showMenu-container li svg{
        display: flex;
    } 
    .showMenu-container .navlinks{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .title{
        font-size: 2.4rem;
    }
    .paragraph{
        font-size: .7rem;
        letter-spacing: 1px;
    }
    .main-title{
        flex-direction: column;
        top: 4.5rem;
        gap: 2rem;
        line-height: 2.5rem;
        width: 100%;
    }
    .social-media-1{
        gap: 1.2rem;
        margin-top: 0;
    }
    .social-media-1 li a i{
        font-size: 1.5rem;
    }
    .man{
        height: 15rem;
    }
    .cv{
        position: absolute;
        transform: rotate(0deg);
        left: 40%;
        top: 34rem;
    }
    .cv a{
        font-size: .8rem;
        color: #5C8374;
    }
    /* second container */
    #second-container{
        padding: 6rem 0;
    }
    .second-container-title{
        font-size: 3rem;
    }
    .skills-container{
        width: 85%;
        padding: 1.5rem;
        border: .3rem solid var(--white);
    }
    .skills-title{
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: .3rem;
        letter-spacing: 1.5px;
    }
    .progressbar{
        height: .8rem;
        width: 85%;
    }
    .num1{
        height: 7px;
        width: 80%;
    }
    .num2{
        height: 7px;
        width: 40%;
    }
    .num3{
        height: 7px;
        width: 60%;
    }
    .num4{
        height: 7px;
        width: 50%;
    }
    .percentage{
        padding: 4px;
        padding-top: 2px;
        padding-bottom: 10px;
        font-size: .7rem;
    }
    .logo{
        height: 2.5rem;
    }
    .html-and-css{
        right: -2.1rem;
        top: .2rem;
    }
    .javaScript{
        right: -.6rem;
        top: .2rem;
    }
    .photoshop{
        right: -.6rem;
        top: .2rem;
    }
    .canva{
        right: -.6rem;
        top: .2rem;
    }
    /* third container */
    #works-container{
       height: auto;
       padding: 6rem 0;
    }
    .works-title{
        font-size: 3rem;
    }
    .works{
        flex-direction: column;
        gap: 2rem;
    }
    .website{
        width: 100%;
    }
    .projects{
        height: auto;
        width: 100%;
        border: .3rem solid var(--white);
    }
    .web-title{
        /* color: rgb(255, 255, 255); */
        bottom: -1.2rem;
        left: 6rem;
        font-size: 2rem;
        text-shadow: 4px 1px 2px black;
    }
    .web-title2{
        bottom: -1.4rem;
        left: 4.5rem;
        font-size: 2rem;
        text-shadow: 4px 1px 2px black;
    }
    /* third container */
    #me-container{
        height: auto;
        flex-direction: column;
        gap: 3rem;
        padding: 6rem 0;
    }
    #me-container h1{
        font-size: 3rem;
        letter-spacing: 0;
    }
    .about-container{
        flex-direction: column;
        gap: 2rem;
        height: auto;
        padding: 2.5rem 0;
        width: 85%;
        background-color: #15373790;
    }
    .about-container .my-pic{
        width: 230px;
        border: .3rem white solid;
    }
    .about-container p{
        text-indent: 3rem; 
        width: 80%;
        font-size: .8rem;
        padding: 0%;
        background-color: transparent;
    }
    /* last container */
    #contact-container{
        height: auto;
        padding: 6rem 0;
        width: 100%;
        /* background-color: #0F0F0F; */
        background-color: #040D12;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .second-container-contact{
        gap: 2rem;
        max-width: 85%;
    }
    .contact-title2{
        width: auto;
        color:#79a092;
        font-size: 2.5rem;
        font-family: 'Rock Salt', cursive;
        font-weight: 900;
        text-transform: capitalize;
        text-shadow: 4px 4px 5px black;
        position: relative;
        text-align: left;
        border-radius: 50px;
        background-color: transparent;
        letter-spacing: 0;
    }
    .contact{
        margin-bottom: 1rem;
    }
    .contact li a{
        font-size: .8rem;
        letter-spacing: 1px;
    }
    .social-media{
        gap: 1.2rem;
    }
    .social-media li a i{
        font-size: 1.5rem;
    }
    .mypic3{
        height: auto;
        width: 100%;
        border: .3rem solid var(--white);
    }
    footer p{
        font-size: .8rem;
    }
}
/* @media only screen and (max-width: 768px) { 
    nav .showMenu-container li svg{
        display: flex;
    } 
    .showMenu-container .navlinks{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .content-container{
        gap: 1rem;
    }
    .title{
        font-size: 4.5rem;
    }
    .paragraph{
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .main-title{
        flex-direction: column;
        top: 9rem;
        gap: 2rem;
    }
    .social-media-1{
        gap: 1.2rem;
        margin-top: 0;
    }
    .social-media-1 li a i{
        font-size: 1.7rem;
    }
    .man{
        height: 18rem;
    }
    .cv{
        position: absolute;
        transform: rotate(0deg);
        left: 40%;
        top: 48rem;
    }
    .cv a{
        font-size: 1rem;
    } */
    /* second container */
    /* .second-container-title{ 
        font-size: 4.5rem;
    }
    .skills-container{
        width: 460px;
        padding: 2rem;
        border: .4rem solid var(--white);
    }
    .skills-title{
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .progressbar{
        height: .9rem;
        width: 90%;
    }
    .num1{
        height: 8px;
    }
    .num2{
        height: 8px;
    }
    .num3{
        height: 8px;
    }
    .num4{
        height: 8px;
    }
    .percentage{
        font-size: .9rem;
    }
    .logo{
        height: 3rem;
    }
    .html-and-css{
        right: -3.1rem;
        top: .2rem;
    }
    .javaScript{
        right: -1rem;
        top: .2rem;
    }
    .photoshop{
        right: -1rem;
        top: .2rem;
    }
    .canva{
        right: -1rem;
        top: .2rem;
    }
}
*/